.color-contain {
    display: flex;
}

.box {
    border: none; 
    width: 12px;
    height: 12px;
    border-radius: 3px;
    margin-top: auto;
    margin-bottom: auto;
}

.colorName {
    margin-left: 10px;
    display: block;
    padding: 6px 0;
    width: 100%;
    font-size: 12px;
    color: #868e96;
    font-weight: 400;
    letter-spacing: .05em;
    transition: all 0.2s ease-out;
}


.colorName:hover {
    cursor: pointer;
}